@import url('https://fonts.googleapis.com/css?family=Oxygen:400,300,700');

* {
    box-sizing: border-box;
}

body {
    font-family: "Oxygen", sans-serif;
    line-height: 1.5
}

a {
    color: black;
    text-decoration: none;
}
#navbar {
    display: flex;
}
#navbar li {
    padding: 0.5rem 0.75rem;
    list-style: none;
}

.section {
    padding: 0 0 50px 0;
}

.section:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}

ul,
ol {
    padding-left: 1rem;
}

li {
    list-style: disc;
}

h1 {
    text-align: center;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.demo {
    border: 2px solid #eee
}

#main-image {
    display: flex;
    justify-content: center;
}

#quotes {
    font-size: 18px;
}

#quotes li {
    list-style: none;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px 0;
}

.line {
    border-bottom: 10px solid rgba(1, 1, 1, .04);
}

footer {
    padding: 20px 0;
    margin-bottom: 5rem;
}

#word-container a {
    color: black;
}

#word-container span {
    display: block;
    width: 100%;
    text-align: center;
    margin: .5rem 0;
    font-weight: bold;
    font-size: 20px;
}

#word-container p {
    padding: .5rem;
    margin: 0;
}

#preverbs-container span {
    display: block;
    padding: .5rem;
    margin: 0;
    font-weight: 600;
}



.words-container ul, .proverb-container ul {padding: 0 !important; text-align: center;}
.words-container ul li, .proverb-container ul li {display: inline-block; margin: 10px 20px;}
#related-words {padding: 2rem 0;}
#related-words-title {font-size: 22px; font-weight: 600; margin-bottom: 1rem; display: block;}
#related-words-list {padding-left: 0 !important;}
#related-words-list li {display: inline-block; margin: 10px 20px;}
#related-words-list li a {color: #000 !important;}
@media (min-width:768px) {
    #navbar {
        justify-content: center;
    }

    h1 {
        font-size: 46px
    }

    .home-container {
        max-width: 100%;
        width: 1128px;
        padding: 0 24px;
        margin: 0 auto
    }

    .author-detail-container {
        max-width: 80%;
        margin: 0 auto
    }

    .author-detail-main {
        max-width: 600px;
        margin: 0 auto
    }

    .author-detail-main a {
        color: -webkit-link;
    }

    #main-image {
        margin: 1rem 0
    }

    #quotes {
        padding: 0 .5rem
    }
}

@media (max-width:767px) {
    #navbar {
        width: 100%;
        white-space: nowrap;
        overflow: scroll;
        padding: 0 0 1rem;
    }
    .container {
        max-width: 90%;
        margin: 0 auto
    }

    #quotes {
        padding: 0 .7rem
    }
}
